<%- include('layouts/html_header.ejs') %>

<header class="main-header"><%- include('components/navbar.ejs') %></header>

<main>
	<h1><%= title %></h1>
	<h1>My Products EJS</h1>
	<p>List of all the products...</p>
	<ol>
		<% for(let product of products) { %>
		<li><%= product.title %></li>
		<% } %>
	</ol>
</main>

<%- include('layouts/html_footer.ejs') %>
