<!DOCTYPE html>
<html lang="en">
	<head>
		<title>CH4 PRACTICE</title>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>

		<!-- Bootstrap CSS v5.2.1 -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
			crossorigin="anonymous"
		/>
	</head>

	<body>
		<div class="container-fluid mt-5">
			<h1>Ramadhan Kareem!</h1>

			<% if(message != ''){ %>
			<div
				class="alert alert-success alert-dismissible fade show"
				role="alert"
			>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="alert"
					aria-label="Close"
				></button>
				<strong>Berhasil</strong> <%-message%>
			</div>

			<% } %>
			<div class="d-flex justify-content-end">
				<a
					href="/customers/dashboard/create"
					class="btn btn-success my-3"
					>Tambah Customer</a
				>
			</div>
			<div class="table-responsive">
				<table class="table table-hover">
					<thead class="table-success text-center">
						<tr>
							<th scope="col">ID</th>
							<th scope="col">Name</th>
							<th scope="col">City</th>
							<th scope="col">Email</th>
							<th scope="col">Age</th>
							<th scope="col">Created at</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						<% customers.map((customer)=> { %>
						<tr>
							<td><%- customer.id %></td>
							<td><%- customer.name %></td>
							<td><%- customer.city %></td>
							<td><%- customer.email %></td>
							<td><%- customer.age %></td>
							<td><%- customer.createdAt %></td>

							<td>
								<div class="dropdown open">
									<button
										class="btn btn-secondary dropdown-toggle"
										type="button"
										id="triggerId"
										data-bs-toggle="dropdown"
										aria-haspopup="true"
										aria-expanded="false"
									>
										Action
									</button>
									<div
										class="dropdown-menu"
										aria-labelledby="triggerId"
									>
										<a
											class="dropdown-item"
											href="/customers/dashboard/edit/<%- customer.id %>"
										>
											Edit
										</a>
										<form
											action="/customers/dashboard/delete/<%- customer.id %>"
											method="post"
										>
											<button
												class="dropdown-item"
												type="submit"
											>
												Delete
											</button>
										</form>
									</div>
								</div>
							</td>
						</tr>
						<% }) %>
					</tbody>
				</table>
			</div>
		</div>

		<!-- Bootstrap JavaScript Libraries -->
		<script
			src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
			integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
			crossorigin="anonymous"
		></script>

		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
			integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
			crossorigin="anonymous"
		></script>
	</body>
</html>
